<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="{{path.index}}">SigWel</a></h1>
    </li>
     <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
  </ul>
  <section class="top-bar-section">
    {% if !credentials %}
    <ul class="left">
      <li><a href="{{path.login}}">login/register</a></li>
    </ul>
    {% endif %}
    {% if credentials %}
    <ul class="right">
      <li><a href="{{path.profile}}">Welcome, {{credentials.Username}}</a></li>
      <li><a href="{{path.logout}}">Log out</a></li>
    </ul>
    {% endif %}
  </section>
</nav>