{% extends './layouts/default.html' %}

{% block title %}{{title}}{% endblock %}

{% block content %}
	<div class="row">
	  <div class="large-12 columns">
	    <h1>{{title}}</h1>
	  </div>
	</div>
	<div class="row">
	  <div class="large-12 columns">
	    <div class="panel">
	      <div class="row">
	      	<div class="large-offset-2 medium-offset-3 large-8 medium-6 columns">
	      		
	      		
                <form id="userInfo">
                <div class="row">
                  <div class="large-offset-2 large-8 columns">
                  	<h6>Username</h6>
                    <input  type="text" name="Username" placeholder="Your user name" required/>
                  </div>
                </div>
                <div class="row">
                  <div class="large-offset-2 large-8 columns">
                  	<h6>Password</h6>
                    <input  type="password" name="Password" placeholder="Your password" required/>
                  </div>
                </div>
                <div class="row">
                  <div class="large-offset-2 large-8 columns">
                    <h6>Email</h6>
                    <input  type="text" name="Email" placeholder="Your Email Address" required/>
                  </div>
                </div>
                <div class="row">
                  <div id="showMessage" class="large-offset-2 large-8 columns"></div>
                </div>

                <div class="row">
                  <div class="large-offset-4 large-2 columns">
                    <input type="submit" value="Sign Up" class="small button"/>
                  </div>
                </div>

            </form>
            </div>

            
	      	</div>
	      </div>
	    </div>
	  </div>
	</div>

{% endblock %}
{% block footer_js %}
<script src='js/custom/register.js'></script>
{% endblock %}
